<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{! Mustache }}
{{>head}}


{{! Initial Setup }}
<body class="container">
	<div class="row">

		<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
			<h1>Welcome to Forum App</h1>
			<hr />
			<div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px">
				<h2>Register User</h2>
				<form action="/auth/register" method="POST">
					<input class="form-control" type="text" name="username" placeholder="username"/><br />
					<input class="form-control" type="password" name="password" placeholder="password"/><br />
					<button type="submit">Register</button>
				</form>

				<hr />

				<h2>Login</h2>
				<form action="/auth/login" method="POST">
					<input class="form-control" type="text" name="username" placeholder="username"/><br />
					<input class="form-control" type="password" name="password" placeholder="password"/><br />
					<button type="submit">Login</button>
				</form>

				{{! Attempt }}
				<h2>Modal</h2>
				<form action="/auth/login" method="POST">
					<input class="form-control" type="text" name="username" placeholder="username"/><br />
					<input class="form-control" type="password" name="password" placeholder="password"/><br />
					<button type="submit">Login</button>
				</form>
			</div>

		</div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>